body {
  background-color: #212022;
  height: 100vh;
}

/* .banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
} */

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
